@import "../../shared//styles/global.scss";

.categoty {
	width: 100%;
    

	.container {
		width: 1320px;
		margin: 0 auto;
	}

	.row {
		margin-top: 32px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 24px;

		.categoryItem {
            width: 312px;
			transition: 0.3s;
			padding: 15px;
            
		}
		.categoryItem:hover {
			transform: translateY(-10px);
            box-shadow: 0 0 1em grey;
			cursor: pointer;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1320px) {
	.categoty {
		width: 100%;

		.container {
			width: 768px;
		}

		.row {
			margin-top: 22px;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 18px;

			.categoryItem {
                width: 260px;
				padding: 8px;
			}
			.categoryItem:hover {
				transform: translateY(-8px);
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.categoty {
		width: 100%;

		.container {
			width: 320px;
		}

		.row {
			margin-top: 14px;
			grid-template-columns: 1fr 1fr;
			gap: 14px;

			.categoryItem {
                width: 160px;
				padding: 6px;
                
                
                .inner{
                    width: 100%;
                    h3{
                        width: 100%;
                        font-size: 16px;
                        overflow-wrap: break-word;
                    }
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
			}
			.categoryItem:hover {
				transform: translateY(-6px);
			}
		}
	}
}
