@media screen and (min-width: 320px) and (max-width: 768px){

	.container{
		width: 320px;
		margin: 0 auto;
	}

	.row{
		width: 320px;
		height: 900px;
		padding-top: 100px;
		background-position: -10px 650px;
		background-size: 100%;
		@include flexPosition(flex-start, flex-start, column);
		margin: 0 auto;

		.col{
			width: 290px;
		}

		.title{
			width: 269px;
			@include font(33.6px, 24px, 500);
		}

		.homeParagraph{
			width: 290px;
			@include font(24px, 16px, 400);
		}
	}
}