@import "../../../shared/styles/global.scss";

.error {
	width: 100%;

	.container {
		width: 1320px;
		margin: 0 auto;
	}

	.content {
		@include flexPosition(center, center, column);
		margin-top: 60px;
		padding-bottom: 70px;
		p:first-child {
			@include font(50px, 55px, 600);
			color: grey;
		}

		p:last-child {
			color: red;
			@include font(36px, 26px, 500);
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1320px) {
	.error {
		.container {
			width: 768px;
		}

		.content {
			margin-top: 30px;
			padding-bottom: 50px;
			p:first-child {
				@include font(40px, 35px, 600);
				color: grey;
			}

			p:last-child {
				color: red;
				@include font(28px, 22px, 500);
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.error {
		.container {
			width: 320px;
			background-color: aqua;
		}

		.content {
			margin-top: 30px;
			padding-bottom: 50px;
			
			p:first-child {
				@include font(40px, 30px, 600);
				color: grey;
			}

			p:last-child {
				color: red;
				@include font(25px, 20px, 500);
			}
		}
	}
}
