@media screen and (min-width: 768px) and (max-width: 1320px) {
	.container {
		width: 768px;
	}

	.logoBlock .textLogo,
	.logoBlock .line {
		display: none;
	}

	.navigate {
		display: none;
	}

	.graph {
		width: 161px;
		margin-left: 120px;

		.graphTime {
			width: 190px;
			padding: 5px;
		}
	}
}
