@import "../../shared/styles/global.scss";

.catalog {
	width: 100%;

	.container {
		width: 1320px;
		margin: 0 auto;
		background-color: #f9f9f9;
		padding-top: 24px;

		.paginationBlock {
			margin: 80px auto;
		}
	}

	.catalogTitle {
		@include flexPosition(flex-start, center);
		column-gap: 24px;
	}

	.content {
		width: 100%;
		margin-top: 40px;
		@include flexPosition(flex-start, flex-start);
		background-color: #f9f9f9;
		.filterBtn {
			display: none;
		}

		.cardBlock {
			@include flexPosition(flex-start, flex-start);
			flex-wrap: wrap;
			gap: 24px;
		}
	}
}

@import "./catalog.module768.scss";
@import "./catalog.module320.scss";


