@import "../../styles/global.scss";

@media screen and (min-width: 320px) and (max-width: 768px) {
	.questionBlock {

		.container {
			width: 320px;
			padding-top: 31px;

			.form{
				@include flexPosition(center, center, column);
				row-gap: 11px;
			}
		}

		img {
			display: none;
		}
	}
}
