
@media screen and (min-width: 768px) and (max-width: 1320px) {
	.container {
		width: 768px;
        margin: 0 auto;
	}

	.row {
		img {
			height: 340px;
			object-position: left;
			object-fit: cover;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5875) 54.17%, rgba(0, 0, 0, 0.327131) 80.73%, rgba(0, 0, 0, 0) 100%);
		}
	}
}
