@import "../../shared/styles/global.scss";

.aboutCompony {
	width: 100%;

	.promo {
		height: 433px;
		border: 1px solid transparent;
		background-image: linear-gradient(
				90deg,
				#1d1d1d 0%,
				rgba(29, 29, 29, 0.5875) 57.78%,
				rgba(29, 29, 29, 0.327131) 80.73%,
				rgba(29, 29, 29, 0) 100%
			),
			url("../../shared/assets/images/about-promo.png");

		p {
			width: 674px;
			color: #fff;
			@include font(120%, 32px, 600);
			margin-left: 60px;
			margin-top: 90px;
		}
	}

	.container {
		width: 1320px;
		margin: 0 auto;
	}

	.home {
		@include flexPosition(flex-start, flex-start);
		padding: 123px 0;
        position: relative;

		.left {
			h2 {
				@include font(120%, 42px, 600);
			}
			.list {
				display: flex;
				column-gap: 44px;

				ul {
					margin-top: 57px;
					width: 358px;

					li {
						display: flex;
					}

					li:not(:last-child) {
						margin-bottom: 32px;
					}

					li::before {
						content: url("../../shared/assets/icon/ellipse.png");
						width: 30px;
						height: 30px;
						@include flexPosition(center, flex-start);
						background-color: $primaryBtnColor;
						border-radius: 50%;
						margin-right: 24px;
					}
				}
			}
		}

		.right {
			width: 424px;
			height: 466px;
			background-color: $primaryBtnColor;
			position: absolute;
			right: 60px;
			top: calc(50% - 233px);
		}
	}

	.technics {
		width: 100%;
		height: 600px;
		margin-top: 100px;

		position: relative;
		background-image: url("../../shared/assets/images/unsplash.png");
		background-repeat: no-repeat;
		background-size: 844px 516px;

		.inner {
			width: 426px;
			position: absolute;
			top: 25px;
			right: 58px;

			h3 {
				@include font(120%, 32px, 600);
				margin-bottom: 16px;
			}
			p {
				@include font(150%, 18px, 500);
				margin-bottom: 80px;
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1320px) {
	.aboutCompony {
		.container {
			width: 768px;
		}

		.home {
			padding: 80px 20px;

			.left {
				h2 {
					@include font(60%, 21px, 600);
				}
				.list {
					display: inline-block;
				}
			}

			.right {
				width: 324px;
				height: 366px;
				right: 20px;
				top: calc(50% - 183px);
			}
		}

		.technics {
			height: 470px;
			margin-top: 70px;
			background-size: 444px;

			.inner {
				width: 259px;
				top: -68px;
				h3 {
					@include font(120%, 26px, 600);
					margin-bottom: 12px;
				}
				p {
					@include font(150%, 16px, 500);
					margin-bottom: 60px;
				}
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.aboutCompony {
		.container {
			width: 320px;
		}

		.promo {
			height: 263px;
			border: 1px solid transparent;
			background-image: linear-gradient(
					90deg,
					#1d1d1d 0%,
					rgba(29, 29, 29, 0.5875) 57.78%,
					rgba(29, 29, 29, 0.327131) 80.73%,
					rgba(29, 29, 29, 0) 100%
				),
				url("../../shared/assets/images/about-promo.png");

			p {
				width: 374px;
				color: #fff;
				@include font(80%, 18px, 600);
				margin-left: 15px;
				margin-top: 45px;
			}
		}

		.home {
			.left {
				.list {
					display: inline-block;

					ul {
						width: 320px;
						li::before {
							content: url("../../shared/assets/icon/ellipse.png");
							width: 30px;
							height: 30px;
							margin-right: 12px;
						}
					}
				}
			}

			.right {
				display: none;
			}
		}

		.technics {
			width: 320px;
			height: 170px;
			margin-top: 70px;
			background-image: none;

			margin: 0 auto;
			position: static;
			.inner {
				position: static;
				h3 {
					@include font(80%, 18px, 600);
					margin-bottom: 12px;
					overflow-wrap: break-word;
				}
				p {
					@include font(100%, 12px, 500);
					margin-bottom: 30px;
					overflow-wrap: break-word;
				}
			}
		}
	}
}
